# Core camera and image processing
picamera2                # Raspberry Pi camera library for capturing images and video
RpiCamZ @ git+https://github.com/DvdZmd/rpicam-z.git@main

# Flask for web server or REST API
flask                    # Web framework for building the server and REST API
bleak
# Database support
flask_sqlalchemy
sqlalchemy
